.clothes-content {
  border-top: 1px solid #ddd;
  background: white;
  padding-bottom: 25px;
}

.clothes-category {
 padding-top: 15px;
}

#content {
  width: 60%;
  margin: 0 auto;
}

#view-clothes {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card {
  border-radius: 10px;
  width: 30%;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.card:hover {
  /* background-color: black;
  color: white; */
  box-shadow: 0 0 10px rgba(30, 30, 30, 0.2);
}

.card img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.card div {
  padding: 15px;

}

#description {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(30, 30, 30, 0.2);
}

#description-clothes {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  top: 10%;
  border-radius:10px;
  background-color: white;
  max-width: 30%;
  max-height: 95%;
  overflow-y: auto;
}

#close {
  position: absolute;
  margin-left: 87%;
}

.button{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: larger;
}

.clothes-category {
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
  text-align: center;
}
