* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.carousel {
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.carousel-images {
    display: flex;
    transform: translate3d(0px);
    transition: transform 0.7s;
}

.carousel-images img {
    border-radius: 5px;
    width: 100vw;
}

#prev{
    height: 45px;
    width: 45px;
    color: white;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    transition: ease 0.5s;
    z-index: 1;
    left: 20px;
}

#next{
    height: 45px;
    width: 45px;
    color: white;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    transition: ease 0.5s;
    z-index: 1;
    right: 20px;
    align-items: center;
}

#next:hover {
    font-size: 35px;
}

#prev:hover {
    font-size: 35px;
}

