#view-locations {
    display: flex;
    text-align: start;
    width: 100%;
    padding: 30px;
    margin: auto;
    font-family: 'Fira Sans', sans-serif;
    font-size: large;
    justify-content: center;
    background-image: url("https://picsum.photos/1000/800");
}

.location1 {
    padding: 15px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.location1 h2 {
    font-family: 'Times New Roman', Times;
    font-size: 25px;
}

table tr td {
    padding-right: 6px;
}