#view-locations {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: auto;
    font-family: 'Fira Sans', sans-serif;
    font-size: large;
    justify-content: center;
    align-items: center;
    background-image: url("../images/assets/background\ 2.jpg");
    background-size: cover;
}

.loc iframe {
    width: 80vw;
    height: 80vh;
    margin-top: 20px;
   
}

.location1 {
    margin-bottom: 100px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: larger;
}


.location1 h2 {
    font-weight: 500;
}
