*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header { 
    width: 100%;
    height: 90px;
    display: block;
    background-color: white;
}

.inner-header {
    width: 80%;
    height:100%; 
    display: block;
    margin: 0 auto;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container a {
    color: red;
    height: 100%;
    display: table-cell;
    vertical-align: middle; 
    font-family: 'Fira Sans', sans-serif;
}

.navigation-bar {
    float: right;
    height: 100%;
}

.navigation-bar a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;

}

.navigation-bar a:last-child{ 
    padding-right: 0px;
}

.navigation-bar li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: black;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    transition: all 0.3s ease;
}

.navigation-bar li:hover {
    text-decoration: underline;
}


